{% extends 'base.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <form method="post" enctype="multipart/form-data">
                    <h3 class="my-3 text-center">Редактировать профиль</h3>
                    {% csrf_token %}
                    {% for form in forms %}
                        {{ form.as_p }}
                    {% endfor %}
                    <button class="btn btn-primary btn-block">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
