{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h1>Новый визит</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn-block btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}